.panel {
  align-items: center;
  background-color: var(--color-fill);
  border-radius: var(--border-corners-md);
  border: var(--border-size-md) solid var(--color-border);
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: var(--space-md) auto;
  padding: var(--space-md);
  user-select: none;
}

.panel > li {
  height: 32px;
  width: 32px;
}
