@import url('https://fonts.googleapis.com/css2?family=Slackside+One&family=League+Spartan&display=swap');

:root {
  /* Colors */
  --black: #2b2b2b;
  --white: #f4f4f4;
  --gray: #d1d5db;

  --color-ink: var(--black);
  --color-fill: var(--white);
  --color-border: var(--black);
  --color-subtle: var(--gray);

  /* Fonts */
  --slackside-one: 'Slackside One';
  --league-spartan: 'League Spartan';

  --font-copy: var(--league-spartan), sans-serif;
  --font-logo: var(--slackside-one), serif;

  /* Sizing */
  --text-sm: 18px;
  --text-lg: 48px;

  --text-base: var(--text-sm);
  --text-logo: var(--text-lg);

  /* Spacing */
  --space-sm: 0.25em;
  --space-md: 0.5em;
  --space-lg: 0.75em;
  --space-xl: 2em;

  /* Borders */
  --border-corners-md: 8px;
  --border-size-md: 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-fill);
}

/* See https://lucide.dev/guide/advanced/global-styling */
.lucide {
  color: var(--color-border);
  width: 32px;
  height: 32px;
  stroke-width: 3px;
}

.lucide * {
  vector-effect: non-scaling-stroke;
}
